<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta charset="UTF-8">
	</head>
   <body>
   
      <h1>Hello</h1>
      <h2>The following are true</h2>
      <form action = "http://127.0.0.1:5000/result" method = "post">
      	<input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  		<input type="checkbox" name="vehicle" value="Car"> I have a car<br>
  		<input type="checkbox" name="vehicle" value="Plane" checked> I have a boat<br><br>
         <p>Enter Name:</p>
         <p><input type = "text" name = "user" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <p>Note: I am the hello.html file and can be styled however you like</p>
   </body>
</html>